.intro {
    min-height: 650px;
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    background: url("./../../../../public/bg/level1/bg-route-mobile.png") no-repeat center/contain;

    @media screen and (min-width:960px) {
        width: 1000px;
        background: url("./../../../../public/bg/level1/bg-route.png") no-repeat center/contain;
    }
}

.player {
    width: 80px;
    position: absolute;
    top: 50%;
    left: -10%;
    opacity: 0;
    animation: walkAcross 4s linear 2s forwards;

    @media screen and (min-width:960px) {
        top: 70%;
        left: -10%;
        animation: walkAcrossDesktop 4s linear 2s forwards;
    }
}

.title {
    width: 80%;
    padding: 3.2rem 0;
    color: var(--text-yellow);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    background: var(--bg-light);
    border-radius: .8rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    animation: fadeInUp 1.2s ease-out 6s forwards;

    @media screen and (min-width:960px) {
        width: 60%;
        top: 30%;
    }
}

.discussion {
    min-height: 650px;
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    background: url("./../../../../public/bg/level1/bg-ennemi-mobile.png") no-repeat center/contain;

    @media screen and (min-width:960px) {
        width: 1000px;
        background: url("./../../../../public/bg/level1/bg-ennemi.png") no-repeat center/contain;
    }

    .title {
        top: 50%;
        animation: fadeInUp 1.2s ease-out 1.5s forwards;
    }
}

.dialog {
    width: 90%;
    padding: 3.2rem;
    color: var(--text-yellow);
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    opacity: 0;
    background: var(--bg-light);
    border-radius: .8rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    animation: fadeInDown 1.2s ease-out forwards;

    p {
        margin: 1.6rem auto;
    }
}

.color {
    color: var(--text-blue);
}

.color_ennemy {
    color: var(--error);
}

.coms {
    color: var(--text-blue);
    text-align: right;
}

.dial_player {
    background-color: var(--bg-blue);
}

.container_answers {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

.selected_answer {
    color: var(--text);
    background-color: var(--solid-blue);
}


.container_btn {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 8s revealAnim ease-in-out forwards;
}

@keyframes walkAcross {
    0% {
        top: 50%;
        left: -10%;
        opacity: 1;
    }

    100% {
        top: 40%;
        left: 100%;
        opacity: 1;
    }
}

@keyframes walkAcrossDesktop {
    0% {
        top: 62%;
        left: -10%;
        opacity: 1;
    }

    100% {
        top: 52%;
        left: 100%;
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate(-50%, -40%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes revealAnim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}