.wrapper {
    padding: 1.6rem;
}

.section {
    max-width: 600px;
    margin: 3rem auto;
    padding: 3rem;
    background-color: var(--bg-yellow);
    border-radius: .8rem;
    box-shadow: 0 0 5px 3px var(--bg-yellow);
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.25),
        0 6px 6px rgba(0, 0, 0, 0.22);


    .title {
        padding: 3.2rem 0;
        color: var(--text-blue);
        text-align: center;
    }

    p {
        text-align: justify;
    }
}

.intro {
    background-color: var(--bg-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.big_title {
    padding: 3.2rem;
    text-align: center;
    color: var(--text-yellow);
}

.bonus {
    h4 {
        padding: 1.6rem 0;
    }

    ul {
        padding: 0;
    }

    li {
        display: block;
        width: fit-content;
        margin: auto;
        color: var(--warning);
    }
}

.chosen_avatar {
    width: fit-content;
    margin: 0 auto;

    &>img {
        width: 150px;
        padding: 1rem;
        border-radius: 2.4rem;
        background-color: transparent;
        border: .3rem solid var(--sep-yellow);
    }
}

.stat_info {
    padding: 2rem;

    p {
        margin: 1.6rem 0;
        display: flex;
        justify-content: space-between;

        &>strong {
            width: 100%;
            text-align: center;
            display: inline-block;
        }

        &>span {
            display: inline-block;
        }
    }

    .vie_container,
    .mana_container {
        width: 100%;
        height: 1.6rem;
    }

    .vie_bar,
    .mana_bar {
        width: 100%;
        height: 100%;
        border-radius: 3.2rem;
    }

    .vie_bar {
        background-color: #38b000;
    }

    .mana_bar {
        background-color: #b5179e;
    }

}