.arene {
    min-height: 650px;
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    background: url("./../../../../public/bg/level1/bg-pre-mobile.png") no-repeat center/contain;

    @media screen and (min-width:960px) {
        width: 1000px;
        background: url("./../../../../public/bg/level1/bg-pre.png") no-repeat center/contain;
    }
}

.mobile {
    min-height: 650px;
    padding: 1.6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .dialog {
        height: 130px;
        color: var(--text-dark);
        font-weight: 700;
        backdrop-filter: blur(5px);

        .color_en {
            color: var(--info);
        }
    }

    .animation_zone {
        height: 300px;
        display: flex;
        position: relative;

        .player, .ennemy {
            width: 30%;
            position: absolute;
            bottom: 0;
        }

        .player {
            left: 10%;
        }

        .ennemy {
            right: 10%;
        }
    }

    .control_panel {
        height: 195px;
        padding: 1.6rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
    }
}